body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 80px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
}

.btn-primary {
    display: inline-block;
    background: #e8491d;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

#about {
    padding: 50px 0;
    text-align: center;
}

#about h2 {
    font-size: 2em;
    color: #333;
}

#courses {
    padding: 50px 0;
    background: #ffffff;
    text-align: center;
}

#courses h2 {
    font-size: 2em;
    color: #333;
}

.course {
    margin: 20px 0;
    padding: 20px;
    background: #f4f4f4;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.course img {
    width: 150px;
    height: auto;
    border-radius: 10px;
    margin-right: 20px;
}

.course-info {
    text-align: left;
}

.course-info h3 {
    margin: 0 0 10px 0;
    font-size: 1.5em;
    color: #333;
}

.course-info p {
    margin: 0 0 10px 0;
    font-size: 1em;
    color: #666;
}

.btn-secondary {
    display: inline-block;
    background: #35424a;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

footer {
    background: #35424a;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}
